.parent{
  display: block;

  .grid{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;

    .mat-form-field{
      width: 100%;
    }

    .mat-raised-button{
      width: 80px;
      height: 40px;
    }
  }
}
