<div class="admin-body">

  <nav class="admin-header">
      <div class="left">
        <div class="side">
          <h2>Hello {{username}}</h2>
        </div>
      </div>

      <div class="right">
        <div class="side">
          <button mat-raised-button color="primary" (click)="goHome()">Home</button>
          <button mat-raised-button color="primary" (click)="logout()">Logout</button>
        </div>
      </div>
  </nav>

  <main class="admin-main">
    <div class="component-holder">
      <high-score-list [admin]=true></high-score-list>
    </div>

    <div class="component-holder">
      <question-editor></question-editor>
    </div>

    <div class="component-holder">
      <sentence-editor></sentence-editor>
    </div>
  </main>

</div>
