<div class="parent" style="height: 150px">
  <h1>High Scores</h1>

  <div class="record-container">
    <div *ngFor="let highScore of highScores">
      <div class="record">
        <div style="display: block">
          <span id="username">{{highScore.username}}</span>
          <span id="date">{{highScore.achievedAt}}</span>
        </div>
        <span>{{highScore.score}}</span>
        <form *ngIf="admin">
          <button mat-icon-button color="warn" type="submit" (click)="delete(highScore)">
            <mat-icon>delete</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
