.home-body{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto;
}

.home-main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header{
  background-color: #333333;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home-elements{
  display: block;
}
